@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 40px;
  padding: 0;
  will-change: filter;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* home page */
.home-content-1 {
  height: 660px;
  background-size: cover;
  background-position: center;
  background-image: url('./assets/tahoe-ski-4.jpg');
  margin-bottom: 10px;
}

.home-content-2 {
  height: 660px;
  background-size: cover;
  background-position: top;
  background-image: url('./assets/tahoe-ski-3.jpg');
  margin-bottom: 10px;
}

.footer {
  height: 50px;
  background-color: whitesmoke;
}

/* resort result list*/
.result-list {
  margin: 50px auto;
  width: 890px;
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-gap: 40px;
  justify-content: center;
}

.result-item {
  width: 270px;
}

.item-card {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.item-card:hover {
  box-shadow: 12px 12px 12px rgb(113, 177, 245);
}

.item-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14px;
  padding: 20px;
  min-height: 150px;
}


/* detail page */
.detail-head {
  width: 890px;
  padding: 35px 0 48px 0;
  margin: 0 auto;
}

.detail-head a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

.detail-head-grid {
  display: grid;
  grid-template-columns: 35px 1fr 35px;
  grid-template-areas: ". a .";
}

.detail-head-name {
  grid-area: a;
  text-align: center;
}

.detail-head button {
  position: relative;
  background: none;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
  top: 2px;
  left: -22px;
  height: 40px
}

.detail-hero-img img {
  border-radius: 15px;
  width: 60%;
}

/* .summary .item-card {
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
} */


/* plans */
.plans .button-wrapper button {
  width: 75px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0px 0px 1px rgb(205, 205, 205);
}

.plans {
  
  border: solid 10px rgb(58, 117, 175);
  border-radius: 20px;
  padding: 50px auto 50px auto;
}


.plans .border-box {
  border: solid 3px white;
  padding: 30px;
}

.item-card
 {
  margin: 100px auto;
  
  background-color: white;
}

.plans-h1 {
  padding: 30px 0px;
  color: rgb(9, 9, 9);
  font-size: 50px;
}



@media screen and (max-width: 1000px) {

  .result-list,
  .detail-head {
    width: 692px;
  }

  .result-grid {
    grid-gap: 40px;
  }
}

@media screen and (max-width: 734px) {

  .result-list,
  .detail-head {
    width: 87.5%;
  }

  .result-grid {
    grid-gap: 25px;
  }

  .detail-hero-img img {
    border-radius: 15px;
    width: 66%;
  }
}